*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: grid;
  height: 100vh;
  place-items: center;
}

.App{
  width: 1000px;
  height: 500px;
  overflow: scroll;
  border: 1px solid black;
}